# 空氣污染監測網 網路爬蟲實作練習


* 能夠利用 selenium + BeautifulSoup 撰寫爬蟲，並存放到合適的資料結構

## 作業目標

根據範例 ，完成以下問題：

* ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
* ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

### ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager


browser = webdriver.Chrome(ChromeDriverManager().install())

browser.get("http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx")

Looking for [chromedriver 80.0.3987.106 mac64] driver in cache
File found in cache by path [/Users/tonylee/.wdm/drivers/chromedriver/80.0.3987.106/mac64/chromedriver]

In [2]:

selectSite = Select(browser.find_element_by_id("ctl05_ddlSite"))
selectSite.select_by_value('11')
selectYear = Select(browser.find_element_by_id("ctl05_ddlYear"))
selectYear.select_by_value('2018')

browser.find_element_by_id('ctl05_btnQuery').click()

In [29]:
import pandas as pd
html=browser.page_source
soup=BeautifulSoup(html)
table=soup.find('table',class_='TABLE_G')
d={}
for t in table.find_all('tr')[1:]:
    
    if t.find_all('td')[0].has_attr('class') :
        if t.find_all('td')[4].text=='無此測項':
            break
        title=t.find_all('td')[0].text
        d[title]={}
        if pd.to_datetime(t.find_all('td')[2].text)>=pd.to_datetime("2018/01") and pd.to_datetime(t.find_all('td')[2].text)<=pd.to_datetime("2018/08"):
            d[title][t.find_all('td')[2].text]=t.find_all('td')[3].text
    else:
        if pd.to_datetime(t.find_all('td')[0].text)>=pd.to_datetime("2018/01") and pd.to_datetime(t.find_all('td')[0].text)<=pd.to_datetime("2018/08"):
            d[title][t.find_all('td')[0].text]=t.find_all('td')[1].text

In [33]:
pd.DataFrame(d)['SO2']

2018/01    1.80
2018/02    1.90
2018/03    2.20
2018/04    2.30
2018/05    3.10
2018/06    2.70
2018/07    2.20
2018/08    2.40
Name: SO2, dtype: object

### ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [ ]:
d={}
for t in table.find_all('tr')[1:]:
    
    if t.find_all('td')[0].has_attr('class') :
        if t.find_all('td')[4].text=='無此測項':
            break
        title=t.find_all('td')[0].text
        d[title]={}
        if pd.to_datetime(t.find_all('td')[2].text)>=pd.to_datetime("2018/01") and pd.to_datetime(t.find_all('td')[2].text)<=pd.to_datetime("2018/08"):
            d[title][t.find_all('td')[2].text]=t.find_all('td')[3].text
    else:
        if pd.to_datetime(t.find_all('td')[0].text)>=pd.to_datetime("2018/01") and pd.to_datetime(t.find_all('td')[0].text)<=pd.to_datetime("2018/08"):
            d[title][t.find_all('td')[0].text]=t.find_all('td')[1].text

In [32]:
pd.DataFrame(d)[['SO2','CO']]

          SO2    CO
2018/01  1.80  0.34
2018/02  1.90  0.44
2018/03  2.20  0.40
2018/04  2.30  0.38
2018/05  3.10  0.34
2018/06  2.70  0.29
2018/07  2.20  0.21
2018/08  2.40  0.30